/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #24273AFF;
    background-alt: #6b6e8eFF;
    /* background-alt: #4f517fFF; */
    foreground:     #CAD3F5FF;
    selected:       #b7bdf8FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
